<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >




<mapper namespace="com.ljsh.test.domain.mapper.AdminRoleMapper">

    <resultMap type="com.ljsh.test.domain.model.AdminRole" id="roleMap">
        <id  property="role_id" column="role_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="role_name" column="role_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="role_description" column="role_description" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ljsh.test.domain.model.AdminRole" id="roleInfoMap">
        <id  property="role_id" column="role_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="role_name" column="role_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="role_description" column="role_description" javaType="String" jdbcType="VARCHAR"/>
        <collection property="adminAuthList" ofType="com.ljsh.test.domain.model.AdminAuth" resultMap="com.ljsh.test.domain.mapper.AdminAuthMapper.authMap"/>
    </resultMap>

    <select id="get_AuthInfo_By_roleName" parameterType="String" resultMap="roleInfoMap">
        SELECT *
        FROM
        ((admin_role LEFT JOIN admin_role_auth ON admin_role.role_id = admin_role_auth.RA_role_id) left join admin_authority on admin_role_auth.RA_authority_id = admin_authority.authority_id)
        WHERE
        role_name = #{role_name}
    </select>

    <select id="getRoleList" resultMap="roleMap" >
        SELECT * FROM
        admin_role
    </select>

    <select id="getRoleInfo" parameterType="Long" resultMap="roleInfoMap" >
        SELECT *
        FROM
        ((admin_role LEFT JOIN admin_role_auth ON admin_role.role_id = admin_role_auth.RA_role_id) left join admin_authority on admin_authority.authority_id = admin_role_auth.RA_authority_id)
        WHERE
        role_id = #{role_id}
    </select>

    <insert id="set_Role_Auth" >
        INSERT INTO
        admin_role_auth
        (RA_role_id, RA_authority_id)
        VALUES
        (#{role_id,jdbcType=BIGINT},#{authority_id,jdbcType=BIGINT})
    </insert>

    <delete id="del_Role_Auth" >
        DELETE FROM
        admin_role_auth
        WHERE
        RA_role_id = #{role_id,jdbcType=BIGINT} and RA_authority_id = #{authority_id,jdbcType=BIGINT}
    </delete>

</mapper>
