<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ljsh.test.domain.mapper.CourseClassMapper">

    <sql id="cc">admin_course_class</sql>

    <resultMap type="com.ljsh.test.domain.model.Course_Classes" id="ccMap">
        <id property="account" column="cc_account" javaType="String" jdbcType="VARCHAR"/>
        <id property="role_id" column="cc_role_id" javaType="Long" jdbcType="BIGINT"/>
        <id property="cid" column="user_cid" javaType="String" jdbcType="VARCHAR"/>
        <id property="classes" column="course_classes" javaType="String" jdbcType="VARCHAR"/>
        <result property="cname" column="course_name" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCCListByAR" resultMap="ccMap">
        SELECT cc_account,cc_role_id,user_cid,course_name,GROUP_CONCAT(course_class)course_classes FROM (SELECT* FROM admin_course_class WHERE cc_account = #{account} AND cc_role_id = #{role_id}) TEMP
        GROUP BY user_cid,course_name
    </select>

    <insert id="setCCList" parameterType="com.ljsh.test.domain.model.Course_Classes">
        REPLACE INTO admin_course_class
        (cc_account,cc_role_id,user_cid,course_name,course_class)
        VALUES
        (#{account},#{role_id},#{cid},#{cname},#{classes})
    </insert>


</mapper>