<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >




<mapper namespace="com.ljsh.test.mbg.mapper.AdminRoleMapper">

    <resultMap type="com.ljsh.test.mbg.model.AdminRole" id="roleListMap">
    <id  property="role_id" column="role_id" javaType="Long" jdbcType="BIGINT"/>
    <result property="role_name" column="role_name" javaType="String" jdbcType="VARCHAR"/>
    <result property="role_description" column="role_description" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.ljsh.test.mbg.model.AdminRole" id="roleMap">
        <id  property="role_id" column="role_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="role_name" column="role_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="role_description" column="role_description" javaType="String" jdbcType="VARCHAR"/>
        <collection property="adminAuthList"  ofType="com.ljsh.test.mbg.model.AdminAuth">
            <id  property="authority_id" column="authority_id" javaType="Long" jdbcType="BIGINT"/>
            <result property="authority_name" column="authority_name" javaType="String" jdbcType="CHAR"/>
            <result property="authority_type" column="authority_type" javaType="String" jdbcType="CHAR"/>
            <result property="authority_parent_id" column="authority_parent_id" javaType="String" jdbcType="VARCHAR"/>
            <result property="authority_parent_name" column="authority_parent_name" javaType="String" jdbcType="CHAR"/>
            <result property="authority_url" column="authority_url" javaType="String" jdbcType="CHAR"/>
            <result property="authority_sort" column="authority_sort" javaType="int" jdbcType="INTEGER"/>
            <result property="authority_description" column="authority_description" javaType="String" jdbcType="VARCHAR"/>
            <result property="authority_enable" column="auth_enable" javaType="int" jdbcType="TINYINT"/>
        </collection>
    </resultMap>

    <select id="get_AuthInfo_By_roleName" parameterType="String" resultMap="roleMap">
        SELECT *
        FROM
        ((admin_role LEFT JOIN role_with_authority ON admin_role.role_id = role_with_authority.RA_role_id) left join admin_authority on role_with_authority.RA_authority_id = admin_authority.authority_id)
        WHERE
        role_name = #{role_name}
    </select>

    <select id="getRoleList" resultMap="roleListMap" >
        SELECT * FROM
        admin_role
    </select>

    <select id="getRoleInfo" parameterType="Long" resultMap="roleMap" >
        SELECT *
        FROM
        ((admin_role LEFT JOIN role_with_authority ON admin_role.role_id = role_with_authority.RA_role_id) left join admin_authority on admin_authority.authority_id = role_with_authority.RA_authority_id)
        WHERE
        role_id = #{role_id}
    </select>

    <insert id="set_Role_Auth" >
        INSERT INTO
        role_with_authority
        (RA_role_id, RA_authority_id)
        VALUES
        (#{role_id,jdbcType=BIGINT},#{authority_id,jdbcType=BIGINT})
    </insert>

    <delete id="del_Role_Auth" >
        DELETE FROM
        role_with_authority
        WHERE
        RA_role_id = #{role_id,jdbcType=BIGINT} and RA_authority_id = #{authority_id,jdbcType=BIGINT}
    </delete>

    <update id="update_RA_ID">
        alter table role_with_authority  drop column id;
        alter table role_with_authority  add column id int auto_increment primary key;
    </update>

</mapper>
