<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ljsh.test.domain.mapper.CourseInfoMapper">

    <sql id="course_info">courseinfo</sql>

    <resultMap id="CInfo_Map" type="com.ljsh.test.domain.model.CInfo">
        <id property="cid" column="info_cId" javaType="String" jdbcType="VARCHAR"/>
        <result property="cname" column="cName" javaType="String" jdbcType="VARCHAR"/>
        <result property="course_type" column="course_type" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <select id="get_CInfoList" parameterType="String" resultMap="CInfo_Map">
        SELECT info_cId,cname,course_type FROM <include refid="course_info"/>
        <where>
            <foreach item="item" index="index" collection="list"  open="info_cId in (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="get_All" resultMap="CInfo_Map">
        SELECT * FROM
        <include refid="course_info"/>
    </select>

    <update id="updateCourseInfo" parameterType="com.ljsh.test.domain.model.CInfo">
        UPDATE <include refid="course_info"/>
        <set>
            <if test="cname != null">
                cName = #{cname},
            </if>
            <if test="course_type != null">
                course_type = #{course_type},
            </if>
        </set>
        WHERE info_cId = #{cid}
    </update>

    <insert id="replaceCInfo" parameterType="com.ljsh.test.domain.model.CInfo">
        REPLACE INTO <include refid="course_info"/>
        (info_cId,cName,course_type)
        VALUES
        (#{cid},#{cname},#{course_type})
    </insert>

    <select id="get_CInfo" parameterType="String" resultMap="CInfo_Map">
        SELECT * FROM <include refid="course_info"/>
        WHERE info_cId = #{cid}
    </select>

</mapper>