<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ljsh.test.domain.mapper.CourseAuditMapper">
    <sql id="audit_info">audit_info</sql>
    <sql id="course_module">course_module</sql>
    <sql id="course_part">course_part</sql>
    <sql id="course_item">course_item</sql>
    <sql id="course_goal">course_goal</sql>
    <sql id="procedure_standard">procedure_standard</sql>
    <sql id="goal_detail">goal_detail</sql>

    <resultMap id="goalDetailMap" type="com.ljsh.test.domain.model.Goal_Detail">
        <id property="goal_id" javaType="Long" column="goal_id" jdbcType="BIGINT" />
        <id property="stu_id" javaType="Long" column="stu_id" jdbcType="BIGINT" />
        <result property="value" javaType="Float" column="value" jdbcType="FLOAT"/>
    </resultMap>

    <resultMap id="AuditInfoMap" type="com.ljsh.test.domain.model.AuditInfo">
        <id property="id" javaType="Long" column="id" jdbcType="BIGINT"/>
        <result property="semester" column="semester" javaType="String" jdbcType="VARCHAR"/>
        <result property="cid" column="cid" javaType="String" jdbcType="VARCHAR"/>
        <result property="classes" column="classes" javaType="String" jdbcType="VARCHAR"/>
        <result property="exam_type" column="exam_type" javaType="Integer" jdbcType="INTEGER"/>
        <result property="audit_date" column="audit_date" javaType="String" jdbcType="VARCHAR"/>
        <result property="eva_date" column="eva_date" javaType="String" jdbcType="VARCHAR"/>
        <result property="course_property" column="course_property" javaType="String" jdbcType="VARCHAR"/>
        <result property="exam_date" column="exam_date" javaType="String" jdbcType="VARCHAR"/>
        <result property="course_point" column="course_point" javaType="Float" jdbcType="FLOAT"/>
        <result property="week_hour" column="week_hour" javaType="Float" jdbcType="FLOAT"/>
        <result property="course_hour" column="course_hour" javaType="Float" jdbcType="FLOAT"/>
        <result property="lesson_hour" column="lesson_hour" javaType="Float" jdbcType="FLOAT"/>
        <result property="practice_hour" column="practice_hour" javaType="Float" jdbcType="FLOAT"/>
        <result property="textbook" column="textbook" javaType="String" jdbcType="VARCHAR"/>
        <result property="goals_degree_describe" column="goals_degree_describe" javaType="String" jdbcType="VARCHAR"/>
        <result property="audit_person" column="audit_person" javaType="String" jdbcType="VARCHAR"/>
        <result property="eva_person" column="eva_person" javaType="String" jdbcType="VARCHAR"/>
        <result property="set_paper_person" column="set_paper_person" javaType="String" jdbcType="VARCHAR"/>
        <result property="pass_ratio" column="pass_ratio" javaType="Float" jdbcType="FLOAT"/>
    </resultMap>


    <resultMap type="com.ljsh.test.domain.model.MyMod" id="ModMap">
        <id property="module_id" column="module_id" javaType="Long" jdbcType="BIGINT"/>
        <result  property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="audit_id" column="audit_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="index" column="index" javaType="Integer" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.ljsh.test.domain.model.MyPart" id="partMap">
        <id property="part_id" column="part_id" javaType="Long" jdbcType="BIGINT"/>
        <result  property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="ratio" column="ratio" javaType="String" jdbcType="VARCHAR"/>
        <result property="index" column="index" javaType="Integer" jdbcType="INTEGER"/>
        <result property="module_id" column="module_id" javaType="Long" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap type="com.ljsh.test.domain.model.MyItem" id="itemMap">
        <id property="item_id" column="item_id" javaType="Long" jdbcType="BIGINT" />
        <result  property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="index" column="index" javaType="Integer" jdbcType="INTEGER"/>
        <result property="score" column="score" javaType="String" jdbcType="VARCHAR"/>
        <result property="part_id" column="part_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="goal_id" column="goal_id" javaType="Long" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap type="com.ljsh.test.domain.model.QStandard" id="standardMap">
        <id  property="course_type" column="course_type" javaType="Integer" jdbcType="INTEGER"/>
        <id property="standard" column="standard" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="course_GoalMap" type="com.ljsh.test.domain.model.Course_Goal">
        <id property="goal_id" column="goal_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="course_goal_id" column="course_goal_id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="audit_id" column="audit_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="course_goal_text" column="course_goal_text" javaType="String" jdbcType="VARCHAR"/>
        <result property="excellent" column="excellent" javaType="String" jdbcType="VARCHAR"/>
        <result property="good" column="good" javaType="String" jdbcType="VARCHAR"/>
        <result property="normal" column="normal" javaType="String" jdbcType="VARCHAR"/>
        <result property="pass" column="pass" javaType="String" jdbcType="VARCHAR"/>
        <result property="poor" column="poor" javaType="String" jdbcType="VARCHAR"/>
        <result property="graduate_require" column="graduate_require" javaType="String" jdbcType="VARCHAR"/>
        <result property="eva_point" column="eva_point" javaType="String" jdbcType="VARCHAR"/>
        <result property="total_score" column="total_score" javaType="Float" jdbcType="FLOAT"/>
        <result property="expectation" column="expectation" javaType="Float" jdbcType="FLOAT"/>
        <result property="not_reach" column="not_reach" javaType="Integer" jdbcType="INTEGER"/>
        <result property="achieve_degree" column="achieve_degree" javaType="Float" jdbcType="FLOAT"/>
        <result property="score_description" column="score_description" javaType="String" jdbcType="VARCHAR"/>
        <result property="score_analysis" column="score_analysis" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!--Goal_detail的CRUD-->
    <select id="get_goalDetail" resultMap="goalDetailMap" parameterType="java.util.List">
        SELECT * FROM <include refid="goal_detail"/>
        <where>
            goal_id in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")" >
                #{item}
            </foreach>
        </where>
    </select>

    <!--AuditInfo的CRUD-->
    <select id="get_AuditInfo" resultMap="AuditInfoMap">
        SELECT *
        FROM <include refid="audit_info"/>
        WHERE semester = #{semester} AND cid = #{cid}
    </select>

    <update id="updateAuditInfo" parameterType="com.ljsh.test.domain.model.AuditInfo">
        UPDATE <include refid="audit_info"/>
        <set>
            <if test="semester != null">
                semester = #{semester},
            </if>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="classes != null">
                classes = #{classes},
            </if>
            <if test="exam_type != null">
                exam_type = #{exam_type},
            </if>
            <if test="course_property != null">
                course_property = #{course_property},
            </if>
            <if test="exam_date != null">
                exam_date = #{exam_date},
            </if>
            <if test="course_point != null">
                course_point = #{course_point},
            </if>
            <if test="week_hour != null">
                week_hour = #{week_hour},
            </if>
            <if test="course_hour != null">
                course_hour = #{course_hour},
            </if>
            <if test="lesson_hour != null">
                lesson_hour = #{lesson_hour},
            </if>
            <if test="practice_hour != null">
                practice_hour = #{practice_hour},
            </if>
            <if test="textbook != null">
                textbook = #{textbook},
            </if>
            <if test="goals_degree_describe != null">
                goals_degree_describe = #{goals_degree_describe},
            </if>
            <if test="audit_person != null">
                audit_person = #{audit_person},
            </if>
            <if test="audit_date != null">
                audit_date = #{audit_date},
            </if>
            <if test="eva_date != null">
                eva_date = #{eva_date},
            </if>
            <if test="eva_person != null">
                eva_person = #{eva_person},
            </if>
            <if test="set_paper_person != null">
                set_paper_person = #{set_paper_person},
            </if>
            <if test="pass_ratio != null">
                pass_ratio = #{pass_ratio},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="addAuditInfo" parameterType="com.ljsh.test.domain.model.AuditInfo">
        INSERT INTO <include refid="audit_info"/>
        (semester,cid,classes,exam_type,course_property,exam_date,course_point,week_hour,course_hour,lesson_hour,practice_hour,textbook,goals_degree_describe,audit_date,eva_date,audit_person,eva_person,set_paper_person,pass_ratio)
        VALUES
        (#{semester},#{cid},#{classes},#{exam_type},#{course_property},#{exam_date},#{course_point},#{week_hour},#{course_hour},#{lesson_hour},#{practice_hour},#{textbook}, #{goals_degree_describe},#{audit_date},#{eva_date},#{audit_person},#{eva_person},#{set_paper_person},#{pass_ratio})
    </insert>

    <!--CourseGoal的CRUD-->
    <select id="get_CGList" parameterType="Long" resultMap="course_GoalMap">
        SELECT *
        FROM <include refid="course_goal"/>
        WHERE audit_id = #{audit_id}
        ORDER BY course_goal_id
    </select>

    <update id="update_CG" parameterType="java.util.List">
        update <include refid="course_goal"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="course_goal_text = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.course_goal_text != null">
                        when goal_id=#{item.goal_id} then #{item.course_goal_text}
                    </if>
                    <if test="item.course_goal_text == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.course_goal_text
                    </if>
                </foreach>
            </trim>
            <trim prefix="excellent = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.excellent != null">
                        when goal_id=#{item.goal_id} then #{item.excellent}
                    </if>
                    <if test="item.excellent == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.excellent
                    </if>
                </foreach>
            </trim>
            <trim prefix="good = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.good != null">
                        when goal_id=#{item.goal_id} then #{item.good}
                    </if>
                    <if test="item.good == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.good
                    </if>
                </foreach>
            </trim>
            <trim prefix="normal = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.normal != null">
                        when goal_id=#{item.goal_id} then #{item.normal}
                    </if>
                    <if test="item.normal == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.normal
                    </if>
                </foreach>
            </trim>
            <trim prefix="pass = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.pass != null">
                        when goal_id=#{item.goal_id} then #{item.pass}
                    </if>
                    <if test="item.pass == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.pass
                    </if>
                </foreach>
            </trim>
            <trim prefix="poor = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.poor != null">
                        when goal_id=#{item.goal_id} then #{item.poor}
                    </if>
                    <if test="item.poor == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.poor
                    </if>
                </foreach>
            </trim>
            <trim prefix="graduate_require = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.graduate_require != null">
                        when goal_id=#{item.goal_id} then #{item.graduate_require}
                    </if>
                    <if test="item.graduate_require == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.graduate_require
                    </if>
                </foreach>
            </trim>
            <trim prefix="eva_point = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.eva_point != null">
                        when goal_id=#{item.goal_id} then #{item.eva_point}
                    </if>
                    <if test="item.eva_point == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.eva_point
                    </if>
                </foreach>
            </trim>
            <trim prefix="total_score = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.total_score != null">
                        when goal_id=#{item.goal_id} then #{item.total_score}
                    </if>
                    <if test="item.total_score == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.total_score
                    </if>
                </foreach>
            </trim>
            <trim prefix="expectation = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.expectation != null">
                        when goal_id=#{item.goal_id} then #{item.expectation}
                    </if>
                    <if test="item.expectation == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.expectation
                    </if>
                </foreach>
            </trim>
            <trim prefix="not_reach = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.not_reach != null">
                        when goal_id=#{item.goal_id} then #{item.not_reach}
                    </if>
                    <if test="item.not_reach == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.not_reach
                    </if>
                </foreach>
            </trim>
            <trim prefix="achieve_degree = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.achieve_degree != null">
                        when goal_id=#{item.goal_id} then #{item.achieve_degree}
                    </if>
                    <if test="item.achieve_degree == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.achieve_degree
                    </if>
                </foreach>
            </trim>
            <trim prefix="score_description = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.score_description != null">
                        when goal_id=#{item.goal_id} then #{item.score_description}
                    </if>
                    <if test="item.score_description == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.score_description
                    </if>
                </foreach>
            </trim>
            <trim prefix="score_analysis = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.score_analysis != null">
                        when goal_id=#{item.goal_id} then #{item.score_analysis}
                    </if>
                    <if test="item.score_analysis == null">
                        when goal_id=#{item.goal_id} then <include refid="course_goal"/>.score_analysis
                    </if>
                </foreach>
            </trim>
        </trim>
        where (course_goal_id, audit_id) in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            (#{item.course_goal_id,jdbcType=BIGINT}, #{item.audit_id,jdbcType=BIGINT})
        </foreach>
    </update>

    <insert id="add_CG" parameterType="java.util.List">
        INSERT INTO <include refid="course_goal"/>
        (goal_id,course_goal_id,audit_id,course_goal_text,excellent,good,normal,pass,poor,graduate_require,eva_point,total_score,expectation,not_reach,achieve_degree,score_description,score_analysis)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.goal_id},#{item.course_goal_id},#{item.audit_id},#{item.course_goal_text},#{item.excellent},#{item.good},#{item.normal},#{item.pass},#{item.poor},#{item.graduate_require},#{item.eva_point},#{item.total_score},#{item.expectation},#{item.not_reach},#{item.achieve_degree},#{item.score_description},#{item.score_analysis})
        </foreach>
    </insert>

    <delete id="del_CG" parameterType="java.util.List">
        DELETE FROM <include refid="course_goal"/>
        <where>
            goal_id in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")" >
                #{item.goal_id}
            </foreach>
        </where>
    </delete>

    <!--流程规范的CRUD-->
    <select id="get_Standard" parameterType="Integer" resultMap="standardMap">
        SELECT *
        FROM <include refid="procedure_standard"/>
        WHERE course_type = #{course_type}
    </select>

    <!--MOD,PART,ITEM的CRUD-->
    <select id="get_ItemList" parameterType="Long" resultMap="itemMap">
        SELECT *
        FROM <include refid="course_item"/>
        WHERE part_id = #{part_id}
        ORDER BY `index`
    </select>

    <select id="get_PartList" parameterType="Long" resultMap="partMap">
        SELECT *
        FROM <include refid="course_part"/>
        WHERE module_id = #{module_id}
        ORDER BY `index`
    </select>

    <select id="get_ModList" parameterType="Long" resultMap="ModMap">
        SELECT *
        FROM <include refid="course_module"/>
        WHERE audit_id = #{audit_id}
        ORDER BY `index`
    </select>

    <select id="get_Mod" resultMap="ModMap">
        SELECT *
        FROM <include refid="course_module"/>
        WHERE name = #{name} AND audit_id = #{audit_id}
    </select>

    <select id="get_Part" resultMap="partMap">
        SELECT *
        FROM <include refid="course_part"/>
        WHERE name = #{name} AND module_id = #{module_id}
    </select>

    <select id="get_Item" resultMap="itemMap">
        SELECT *
        FROM <include refid="course_item"/>
        WHERE name = #{name} AND part_id = #{part_id}
    </select>

    <insert id="addMod" parameterType="com.ljsh.test.domain.model.MyMod">
        INSERT INTO <include refid="course_module"/>
        (audit_id,name,`index`)
        VALUES
        (#{audit_id},#{name},#{index})
    </insert>

    <insert id="addPart" parameterType="com.ljsh.test.domain.model.MyPart">
        INSERT INTO <include refid="course_part"/>
        (name,ratio,`index`,module_id)
        VALUES
        (#{name},#{ratio},#{index},#{module_id})
    </insert>

    <insert id="addItem" parameterType="com.ljsh.test.domain.model.MyItem">
        INSERT INTO <include refid="course_item"/>
        (name,score,`index`,part_id, goal_id)
        VALUES
        (#{name},#{score},#{index},#{part_id},#{goal_id})
    </insert>

    <delete id="delMod" parameterType="com.ljsh.test.domain.model.MyMod">
        DELETE FROM <include refid="course_module"/>
        WHERE audit_id = #{audit_id} AND name = #{name}
    </delete>

    <delete id="delPart" parameterType="com.ljsh.test.domain.model.MyPart">
        DELETE FROM <include refid="course_part"/>
        WHERE module_id = #{module_id} AND name = #{name}
    </delete>

    <delete id="delItem" parameterType="com.ljsh.test.domain.model.MyItem">
        DELETE FROM <include refid="course_item"/>
        WHERE part_id = #{part_id} AND name = #{name}
    </delete>


    <update id="refreshItem">
        ALTER TABLE <include refid="course_item"/>
        DROP item_id;
        ALTER TABLE <include refid="course_item"/>
        ADD item_id BIGINT(20) auto_increment PRIMARY KEY;
    </update>

    <update id="refreshXX">
        ALTER TABLE XX
        DROP id;
        ALTER TABLE XX
        ADD id BIGINT auto_increment PRIMARY KEY;
    </update>

    <!--根据课程编号获取审核学期的列表-->
    <select id="get_SemesterList" parameterType="String" resultType="String">
        SELECT semester FROM <include refid="audit_info"/>
        WHERE cid = #{cid}
        ORDER BY id DESC
    </select>

</mapper>