<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ljsh.test.mbg.mapper.ExperimentMapper">

    <sql id="e">experiment</sql>

    <resultMap type="com.ljsh.test.mbg.model.Experiment" id="eMap">
        <id  property="id" column="exper_id" javaType="Long" jdbcType="BIGINT"/>
        <result property="sTime" column="sTime" javaType="String" jdbcType="VARCHAR"/>
        <result property="cId" column="cId" javaType="String" jdbcType="VARCHAR"/>
        <result property="cNum" column="cNum" javaType="Integer" jdbcType="INTEGER"/>
        <result property="sId" column="sId" javaType="String" jdbcType="VARCHAR"/>
        <result property="sName" column="sName" javaType="String" jdbcType="VARCHAR"/>
        <result property="sClass" column="sId" javaType="String" jdbcType="VARCHAR"/>
        <result property="sState" column="sState" javaType="String" jdbcType="VARCHAR"/>

        <result property="p1" column="p1" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r1" column="r1" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p2" column="p2" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r2" column="r2" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p3" column="p3" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r3" column="r3" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p4" column="p4" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r4" column="r4" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p5" column="p5" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r5" column="r5" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p6" column="p6" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r6" column="r6" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p7" column="p7" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r7" column="r7" javaType="Double" jdbcType="DOUBLE"/>
        <result property="p8" column="p8" javaType="Double" jdbcType="DOUBLE"/>
        <result property="r8" column="t8" javaType="Double" jdbcType="DOUBLE"/>
        <result property="regular" column="regular" javaType="Double" jdbcType="DOUBLE"/>
        <result property="written" column="written" javaType="Double" jdbcType="DOUBLE"/>
        <result property="overall" column="overall" javaType="Double" jdbcType="DOUBLE"/>
    </resultMap>

    <select id="get_All_E" resultMap="eMap">
        SELECT *
        FROM <include refid="e"/>
    </select>

    <delete id="delExperiment" parameterType="Long">
        DELETE FROM
        <include refid="e"/>
        WHERE
        exper_id = #{id}
    </delete>

    <insert id="addExperiment" parameterType="com.ljsh.test.mbg.model.Experiment">
        INSERT INTO
        <include refid="e"/>
        (sTime,cId,cNum,sId,sName,sClass,sState,p1,r1,p2,r2,p3,r3,p4,r4,p5,r5,p6,r6,p7,r7,p8,t8,regular,written,overall)
        VALUES
        (#{sTime},#{cId},#{cNum},#{sId},#{sName},#{sClass},#{sState},#{p1},#{r1},#{p2},#{r2},#{p3},#{r3},#{p4},#{r4},#{p5},#{r5},#{p6},#{r6},#{p7},#{r7},#{p8},{r8},#{regular},#{written},#{overall})
    </insert>

    <update id="updateExperiment" parameterType="com.ljsh.test.mbg.model.Experiment">
        update <include refid="e"/> set
        sTime = #{sTime},
        cId = #{cId},
        cNum = #{cNum},
        sId = #{sId},
        sName = #{sName},
        sClass = #{sClass},
        sState = #{sState},
        p1 = #{p1},
        r1 = #{r1},
        p2 = #{p2},
        r2 = #{r2},
        p3 = #{p3},
        r3 = #{r3},
        p4 = #{p4},
        r4 = #{r4},
        p5 = #{p5},
        r5 = #{r5},
        p6 = #{p6},
        r6 = #{r6},
        p7 = #{p7},
        r7 = #{r7},
        p8 = #{p8},
        t8 = #{r8},
        regular = #{regular},
        written = #{written},
        overall = #{overall}
        where exper_id = #{id}
    </update>



</mapper>