<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper  namespace="com.ljsh.test.mbg.mapper.OrderItemMapper">

    <sql id="table">order_item</sql>



    <resultMap id="order_item" type="com.ljsh.test.mbg.model.Order_Item">
        <result property="id" column="id" />
        <result property="item_id" column="item_id" />
        <result property="order_id" column="order_id" />
        <result property="num" column="num" />
        <result property="title" column="title" />
        <result property="price" column="price"/>
        <result property="total_cost" column="total_cost" />
        <result property="pic" column="pic" />
        <result property="product_sku_id" column="product_sku_id" />
        <result property="product_sku_code" column="product_sku_code" />
        <result property="product_category_id" column="product_category_id" />
        <result property="sp1" column="sp1" />
        <result property="sp2" column="sp2" />
    </resultMap>

    <select id="getOrder_ItemByorderid" parameterType="String" resultMap="order_item">
        SELECT
        *
        FROM
        <include refid="table"/>
        WHERE
        order_id=#{order_id}
    </select>

    <delete id="deleteByOrder_Id" parameterType="String">
        DELETE FROM
        <include refid="table"/>
        WHERE
        order_id = #{order_id}
    </delete>

    <delete id="deleteByProduct_Id" parameterType="long">
        DELETE FROM
        <include refid="table"/>
        WHERE
        item_id = #{item_id}
    </delete>

    <insert id="add_item" parameterType="com.ljsh.test.mbg.model.Order_Item">
        INSERT INTO
        <include refid="table"/>
        (item_id,order_id,num,title,price,total_cost,pic,product_sku_id,product_sku_code,product_category_id,sp1,sp2)
        VALUES
        (#{item_id},#{order_id},#{num},#{title},#{price},#{total_cost},#{pic},#{product_sku_id},#{product_sku_code},#{product_category_id},#{sp1},#{sp2})
    </insert>

</mapper>
