<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsh.test.mbg.mapper.ProductMapper">

    <sql id="table">product</sql>

    <resultMap id="product" type="com.ljsh.test.mbg.model.Product">
        <result property="id" column="id" />
        <result property="product_category_id" column="product_category_id" />
        <result property="product_attribute_category_id" column="product_attribute_category_id" />
        <result property="name" column="name" />
        <result property="pic" column="pic"/>
        <result property="product_sn" column="product_sn" />
        <result property="delete_status" column="delete_status" />
        <result property="publish_status" column="publish_status" />
        <result property="verify_status" column="verify_status" />
        <result property="sort" column="sort" />
        <result property="price" column="price" />
        <result property="sub_title" column="sub_title" />
        <result property="description" column="description" />
        <result property="original_price" column="original_price" />
        <result property="stock" column="stock" />
        <result property="low_stock" column="low_stock" />
        <result property="keywords" column="keywords" />
    </resultMap>

    <parameterMap id="product_input" type="com.ljsh.test.mbg.model.Product">
        <parameter property="id" resultMap="product" />
        <parameter property="product_category_id" resultMap="product" />
        <parameter property="product_attribute_category_id" resultMap="product" />
        <parameter property="name" resultMap="product" />
        <parameter property="pic" resultMap="product"/>
        <parameter property="product_sn" resultMap="product" />
        <parameter property="delete_status" resultMap="product" />
        <parameter property="publish_status" resultMap="product" />
        <parameter property="verify_status" resultMap="product" />
        <parameter property="sort" resultMap="product" />
        <parameter property="price" resultMap="product" />
        <parameter property="sub_title" resultMap="product" />
        <parameter property="description" resultMap="product" />
        <parameter property="original_price" resultMap="product" />
        <parameter property="stock" resultMap="product" />
        <parameter property="low_stock" resultMap="product" />
        <parameter property="keywords" resultMap="product" />
    </parameterMap>

    <select id="getProductByName" parameterType="String" resultMap="product">
        SELECT
        *
        FROM
        <include refid="table"/>
        WHERE
        name = #{Name}
    </select>

    <select id="getProductById" parameterType="long" resultMap="product">
        SELECT
        *
        FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </select>


    <select id="getAll" resultMap="product">
        SELECT
        *
        FROM
        <include refid="table"/>
    </select>

    <delete id="deleteByID" parameterType="long">
        DELETE FROM
        <include refid="table"/>
        WHERE
        id = #{id}
    </delete>


    <insert id="AddProduct" parameterType="com.ljsh.test.mbg.model.Product">
        INSERT INTO
        <include refid="table"/>
        (product_category_id,product_attribute_category_id,name,pic,product_sn,delete_status,publish_status,verify_status,sort,price,sub_title,description,original_price,stock,low_stock,keywords,album_pics,detail,product_category_name)
        VALUES
        (#{product_category_id},#{product_attribute_category_id},#{name},#{pic},#{product_sn},#{delete_status},#{publish_status},#{verify_status},#{sort},#{price},#{sub_title},#{description},#{original_price},#{stock},#{low_stock},#{keywords},#{album_pics},#{detail},#{product_category_name})
    </insert>

    <select id="getNumByCid" parameterType="long" resultType="int">
        SELECT COUNT(id) FROM
        <include refid="table"></include>
        WHERE product_category_id= #{cid}
        GROUP BY product_category_id
    </select>

    <update id="UpdateProduct"  parameterType="com.ljsh.test.mbg.model.Product">
        UPDATE
        <include refid="table"/>
        SET
        <if test="product_category_id != null">product_category_id = #{product_category_id},</if>
        <if test="product_attribute_category_id != null">product_attribute_category_id = #{product_attribute_category_id},</if>
        <if test="name != null">name = #{name},</if>
        <if test="pic != null">pic = #{pic},</if>
        <if test="product_sn != null">product_sn = #{product_sn},</if>
        <if test="delete_status != null">delete_status = #{delete_status},</if>
        <if test="publish_status != null">publish_status = #{publish_status},</if>
        <if test="verify_status != null">verify_status = #{verify_status},</if>
        <if test="sort != null">sort = #{sort},</if>
        <if test="price != null">price = #{price},</if>
        <if test="sub_title != null">sub_title = #{sub_title},</if>
        <if test="description != null">description = #{description},</if>
        <if test="original_price != null">original_price = #{original_price},</if>
        <if test="stock != null">stock = #{stock},</if>
        <if test="low_stock != null">low_stock = #{low_stock},</if>
        <if test="keywords != null">keywords = #{keywords}</if>
        <if test="album_pics != null">album_pics = #{album_pics}</if>
        <if test="detail != null">detail = #{detail}</if>
        <if test="product_category_name != null">product_category_name = #{product_category_name}</if>
        WHERE
        id = #{id}
    </update>



</mapper>