<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsh.test.mbg.mapper.ProductCartMapper">

    <sql id="table">product_cart</sql>

    <select id="getAll" resultType="com.ljsh.test.mbg.model.ProductCart">
        SELECT
        *
        FROM
        <include refid="table"/>
    </select>

    <select id="getOne" parameterType="Long" resultType="com.ljsh.test.mbg.model.ProductCart">
        SELECT
        *
        FROM
        <include refid="table"/>
        where id=#{id}
    </select>

    <select id="getAllDes" resultType="com.ljsh.test.mbg.model.ProductCart">
        SELECT
        *
        FROM
        <include refid="table"/>
        where  parent_id=#{parent_id,jdbcType=BIGINT} and level=#{level,jdbcType=INTEGER}
    </select>

    <select id="getID" resultType="Long">
        SELECT
        id
        FROM
        <include refid="table"/>
    </select>

    <select id="getName" resultType="String">
        SELECT
        name
        FROM
        <include refid="table"/>
    </select>

</mapper>

