<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljsh.test.mbg.mapper.ProductCategoryAttributeRelationMapper">

    <sql id="table">product_category_attribute_relation</sql>

</mapper>