<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ljsh.test.mbg.mapper.SkuStockMapper">

    <sql id="table">sku_stock</sql>

    <resultMap id="sku" type="com.ljsh.test.mbg.model.Sku_Stock">
        <result property="id" column="id" />
        <result property="product_id" column="product_id" />
        <result property="sku_code" column="sku_code" />
        <result property="price" column="price" />
        <result property="stock" column="stock"/>
        <result property="low_stock" column="low_stock" />
        <result property="sp1" column="sp1" />
        <result property="sp2" column="sp2" />
        <result property="sp3" column="sp3" />
        <result property="sale" column="sale" />
    </resultMap>

    <insert id="add" parameterType="com.ljsh.test.mbg.model.Sku_Stock">
        INSERT INTO
        <include refid="table"/>
        (product_id,sku_code,price,stock,low_stock,sp1,sp2,sale)
        VALUES
        (#{product_id},#{sku_code},#{price},#{stock},#{low_stock},#{sp1},#{sp2},#{sale})
    </insert>


    <select id="getSkuByPid" parameterType="Long" resultMap="sku">
        SELECT * FROM
        <include refid="table"/>
        WHERE product_id=#{product_id}
    </select>

    <select id="getSkuBySku_id" parameterType="Long" resultMap="sku">
        SELECT * FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

</mapper>