<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ljsh.test.mbg.mapper.UserAuthMapper">

    <sql id="user_auth">user_authority</sql>

    <resultMap type="com.ljsh.test.mbg.model.UserAuth" id="authMap">
        <id  property="authority_id" column="authority_id" javaType="Integer" jdbcType="BIGINT"/>
        <result property="authority_name" column="authority_name" javaType="String" jdbcType="CHAR"/>
        <result property="authority_type" column="authority_type" javaType="String" jdbcType="CHAR"/>
        <result property="authority_parent_id" column="authority_parent_id" javaType="String" jdbcType="VARCHAR"/>
        <result property="authority_parent_name" column="authority_parent_name" javaType="String" jdbcType="CHAR"/>
        <result property="authority_url" column="authority_url" javaType="String" jdbcType="CHAR"/>
        <result property="authority_sort" column="authority_sort" javaType="int" jdbcType="INTEGER"/>
        <result property="authority_description" column="authority_description" javaType="String" jdbcType="VARCHAR"/>
        <result property="authority_enable" column="enable" javaType="int" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getAuthList" resultMap="authMap">
        SELECT *
        FROM <include refid="user_auth"/>
    </select>

</mapper>