<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/backpage.css" th:href=@{/css/backpage.css} type="text/css">
    <script type="text/javascript"  src="/js/jquery-3.6.0.js" th:src=@{/js/jquery-3.6.0.js}></script>
    <script type="text/javascript"  src="/js/backpage.js" th:src=@{/js/backpage.js}></script>
</head>
<body>

<div class="container">
    <div class="container-body">
        <div th:replace="BackPage/后台::container-body-left"></div>
        <div th:replace="BackPage/后台::container-header"></div>
        <div class="container-body-right">
            <table class="gridtable">
                <tr>
                    <th>
                        <input type="button" style="float:right;color:#fff;background-color: #000;outline-style: none;border:0px;border-radius:3px;width: 30px;height: 15px;" name="add" value="Add" onClick="window.location.href='/addproduct'">
                    </th>
                </tr>
            </table>
            <form id="form1">
                <table class="gridtable">
                    <tr>
                        <th width="80px">编号</th>
                        <th width="400px">属性名称</th>
                        <th >商品类型</th>
                        <th >属性是否可选</th>
                        <th width="200px">属性值的录入方式</th>
                        <th>可选值列表</th>
                        <th>排序</th>
                        <th>操作</th>
                    </tr>
                    <tr  th:each="item: ${ProductAs_list}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.AttributeCategoryType}"></td>
                        <td th:text="${item.selectT}"></td>
                        <td th:text="${item.inputT}"></td>
                        <td th:text="${item.inputList}"></td>
                        <td th:text="${item.sort}"></td>
                        <td style="width:98px">
                            <button th:id="${item.id}" type="button" class="gridtable_button"  value="编辑"  onclick="editAttribute(this.id)">编辑</button>
                            <button th:id="${item.id}" class="gridtable_button" type="button" value="删除" onclick="deleteAttribute(this.id)">删除</button>
                        </td>

                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>